@charset "utf-8";


body {
margin:0;
padding:0;
background:url(images/Fond-herbe.jpg);
font-family: Trebuchet MS,Verdana, Arial, Helvetica, sans-serif;
font-size: 12px;}

img {border:none; }

#frisetop{
width:100%;
height:10px;
background:black;}

#frisebottom{
width:100%;
padding-top: 5px;
background:black;}

#header{
width:1115px;
height:231px;
margin:0 auto 0 auto;
background:url(images/head.png);}

#containeur {
width:1115px;
margin:0 auto 0 auto;
background:url(images/fond-containeur.png);}

#coldroite {
width:320px;
float:right;
margin:0 20px 0 15px;
padding-top:10px;
font-size:14px;
}

#colgauche {
width:620px;
margin:0 5px 0 135px;
padding-top:10px;}

#footer {
background:url(images/footer.png);

width:1115px;
height:59px;
margin:0 auto 0 auto;}

p {
margin:0;
padding:0;
color:black;}

hr {
  	clear: both;
  	margin:0 8px 0 8px;
	visibility: hidden;}
	
/*MENU*/
ul#menu {
list-style-type: none;
margin:0 0 0 560px;
padding:0;}

ul#menu li {
float: right;
padding-left:20px;}

ul#menufooter {
list-style-type: none;
margin:0 0 0 400px;
padding:10px 30px 0 0;}

ul#menufooter li {
float: right;
padding-right:10px;}


/*
MODIFS PAR CHARLIE
*/
#credits{
	float:right;
	margin-right: 50px;
	font-size: 10px;
	color: #f9bee5;
}

.sectionPage {
	margin-top: 5px;
	margin-bottom: 10px;
	border-bottom: 2px dotted #f9bee5;
}

.titre_page {
	font-size: 1.8em;
	font-weight: bold;
	color:#99758d;
	margin-bottom: 15px;
}

.sous_titre {
	font-size: 1.4em;
	color:#99758d;
	margin-bottom: 8px;
}


a, a:link, a:visited, a:active
{
	/*font-weight: bold;*/
	color: #493844;
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

#coldroite .classement {
	margin-top: 5px;
	border-bottom: 2px solid black;
	font-size:12px;
}

#coldroite table {
	font-size:12px;
	border-collapse:collapse;
	width: 100%;
}

#coldroite td {
	border-bottom: 1px dotted black;
}

.error {
	background-color: #f94cbe;
	font-size: 14px;
	font-weight: bold;
	display: block;
	color: #000000;
	vertical-align:middle;
	background-image: url('erreur.gif');
	background-repeat:	no-repeat;
	padding-left: 30px;
}

.hr_feinte 
{
	width:100%;
	height: 10px;
	padding:0px;	
	margin:0px;
	font-size: 1px;
	line-height: 10px;
	border: 0px;
	overflow:hidden;
	clear:both;
}

.hr_feinte3
{
	width:100%;
	height: 3px;
	padding:0px;	
	margin:0px;
	font-size: 1px;
	line-height: 3px;
	border: 0px;
	overflow:hidden;
	
}


/************************************************************/
.needAttention
{
	background: url(images/giro.gif) no-repeat;
	padding-left: 20px;
	font-weight: bold;
	/*text-decoration: blink;*/
}

.tableau_saisie {
	border: 1px solid #ccc1cd;
	font-size: 12px;
	margin-bottom: 10px;
}

.tableau_saisie th{
	text-align: right;
	padding: 3px;
	background-color: #ccc1cd;
}

.tableau_liste,.tableau_liste_centre {
	width:99%;
	border-collapse: collapse;
	font-size: 12px;
	border-bottom: 1px solid #f94cbe;
	margin-bottom: 10px;
}

.tableau_liste th {
	text-align: left;
	color: #f94cbe;
	border-bottom: 2px solid #f94cbe;
}

.tableau_liste td,th {
	padding-left: 3px;
	padding-right: 3px;
}

.tableau_liste_centre td{
	text-align: center;
	padding-left: 3px;
	padding-right: 3px;
}

.tableau_liste_centre th{
	text-align: center;
	color: #f94cbe;
	border-bottom: 2px solid #f94cbe;
}

.ligne0 {
	background-color: #f9bee5;
}

.ligne1 {
	background-color: transparent;
}

.tableau_horizon {
	font-size: 12px;
	margin-bottom: 10px;
	border-collapse:collapse;
}

.tableau_horizon th {
	font-weight: normal;
	text-align: left;
	border-bottom: 1px dotted #f9bee5;
	padding-left: 3px;
	padding-right: 3px;
	vertical-align: middle;
}

.tableau_horizon td {
	/*text-align: right;*/
	border-bottom: 1px dotted #f9bee5;
	padding-left: 3px;
	padding-right: 3px;
	vertical-align: middle;
}

.ligne_bilan {
	background-color: #f9bee5;
	font-weight: bold;
}
.ligne_bilan th{
	/*font-weight: bold;*/
}

.colgauche_container {
	width: 100%;
	margin: 5px auto;
}

.colgauche_gauche {
	float:left;
	width: 130px;
	text-align: center;
	margin: 0;
	padding: 5px;
}

.colgauche_droite{
	margin-left:150px;
	width:460px;
}


#myPlayerCadre {
	width: 120px;
	margin:0;
	padding-top:3px;
	text-align: left;
	overflow:hidden;
}


#liste_ventes {
	width: 99%;
	text-align: center;
	margin-bottom: 10px;
}
.cadreVente {
	border: 1px solid #f94cbe;
	background-color: #f9bee5;
	text-align: center;
	padding: 5px;
	width: 50%;
	margin-left: auto ;
	margin-right: auto ;
	margin-top: 5px;
}


.tableau_horizon_match {
	font-size: 12px;
	margin-bottom: 10px;
	border-collapse:collapse;
}

.tableau_horizon_match th {
	font-size: 1.8em;
	font-weight: bold;
	padding-left: 3px;
	padding-right: 3px;
	vertical-align: middle;
}

.tableau_horizon_match td {
	border-bottom: 1px dotted #f3bd11;
	padding-left: 3px;
	padding-right: 3px;
	vertical-align: middle;
}









#matchSummary{
	text-align: center;
	font-size: 1.8em;
}

#perfDomicile {
	float:left;
	width:305px;
	margin:0;
	border-right: solid 1px #f9bee5;
}

#perfExterieur {
	float:right;
	width:305px;
	margin:0;
}

.resolution {
	background: url(images/arrow_right.png) no-repeat;
	padding-left: 20px;
	width: 50%;
	margin-left: auto ;
	margin-right: auto ;
	margin-top: 3px;
	margin-bottom: 10px;
	text-align: left;
	font-weight: bold;
}


#infosEkypLeft {
	float:left;
	width: 160px;
	text-align: center;
	margin: 0;
	padding: 5px;
}

#infosEkypContent{
	margin-left:170px;
	width:447px;
}

#effectif {
}

.effTable
{
	text-align:center;
	vertical-align: middle;
	border: 0;
	font-size: 12px;
}

.effLigne
{
	width: 100%;
	text-align: center;
}

.centre
{
	text-align:center;
}

#popup_container{
	margin: 3px;
	padding: 3px;
	background-color: #fbedfa;
	border : 2px solid #f9bee5;
}

.palm1 {
	font-size: 1.8em;
	color:black;
}

.palm2 {
	font-size: 1.4em;
	color:black;
}

.palm3 {
	font-size: 1.2em;
	color:black;
}